<div class="col-md-9 my-3 m-auto">
  <div class="mb-3">
    <select class="form-select" aria-label="Default select example" style="width: 380px;">
      <option selected>全部</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="mt-5 text-center">
    <h3 style="text-align: start;">總消費:</h3>
    <h1 class="text-right text-primary" style="font-size: 60px;">${{totalAmount}}</h1>
  </div>
  <div class="mt-5">
    <table class="table table-striped align-middle mx-auto">
      <tbody>
        {{#each records}}
        <tr>
          <th scope="row">
            <i class="{{this.categoryId.icon}}" style="color: #1f2d37; font-size:30px"></i>
          </th>
          <td>
            <h4>{{ this.name }}</h4>
            <small>{{ this.date }}</small>
          </td>
          <td>
            <h4>{{ this.amount }}</h4>
          </td>
          <td>
            <a href="/records/{{ this._id}}/edit" class="btn btn-success">修改</a>
          </td>
          <td>
            <form id="delete-form" action="/records/{{ this._id }}?_method=DELETE" method="post"  onclick="return confirm('確定要刪除「{{this.name}}」？')">
              <button type="submit" class="btn btn-danger">
                刪除
              </button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="mt-t text-center">
    <a href="/records/new" class="btn btn-primary">新增支出</a>
  </div>
</div>